<div class="sidebar-container">
  <div class="profile-item">
    <div class="image-container">
      <img
        [src]="profileImage"
        alt="Company Logo"
        class="company-logo"
        #imageElement
        (error)="handleImageError(imageElement)"
      />

      <button class="change-image-btn" (click)="fileInput.click()">
        <i class="bx bx-camera"></i>
      </button>
      <input 
        #fileInput
        type="file" 
        hidden 
        (change)="onFileSelected($event)"
        accept="image/*"
      >
      <div *ngIf="loadingImage" class="image-loading-overlay">
        <div class="spinner"></div>
      </div>
    </div>
    <h2>{{ firstName }}</h2>
    <span>{{ position }}</span>
  </div>
  <div class="nav flex-column nav-pills">
    <a
      class="nav-link"
      routerLink="/recruiter-dashboard"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="bx bx-user"></i> My Profile
    </a>

    <a class="nav-link" routerLink="/post-a-job" routerLinkActive="active">
      <i class="bx bx-plus"></i> Post A New Job
    </a>
    <a
      class="nav-link"
      routerLink="/recruiter/posted-jobs"
      routerLinkActive="active"
    >
      <i class="bx bx-list-ul"></i> View All Posted Jobs
    </a>
    <a
      class="nav-link"
      routerLink="/job-applicants"
      routerLinkActive="active"
    >
      <i class="bx bx-file"></i> View All Applications
    </a>
    <a 
      class="nav-link" 
      routerLink="/employer-details" 
      routerLinkActive="active"
    >
      <i class="bx bx-user-circle"></i> View Profile
    </a>
    <a 
      class="nav-link edit-profile-link" 
      routerLink="/recruiter-profile" 
      routerLinkActive="active"
    >
      <i class="bx bx-edit"></i> Edit Profile
    </a>
  </div>
</div>