<div class="banner-area">
    <div class="banner-shape">
        <img src="img/home-one/banner/shape-bottom.png" alt="Shape">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="banner-content">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <h1>Find Thousand <span>Job</span> If You’re Ready To Get</h1>
                            <p>We have 280,000+ live jobs adverts on our site, helping you to find any type of job</p>
                            <div class="banner-form-area">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <label><i class='bx bx-search'></i></label>
                                                <input type="text" class="form-control" placeholder="Search Your Job">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group">
                                                <select>
                                                    <option>All Categories</option>
                                                    <option>Another option</option>
                                                    <option>A option</option>
                                                    <option>Potato</option>
                                                </select>	
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-12">
                                            <div class="form-group two">
                                                <label><i class='bx bx-location-plus'></i></label>
                                                <input type="text" class="form-control" placeholder="Location">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn">Search Job <i class='bx bx-search'></i></button>
                                </form>
                            </div>
                            <div class="banner-key">
                                <ul>
                                    <li><span>Trending Keywords</span></li>
                                    <li><a routerLink="/jobs">Account Manager,</a></li>
                                    <li><a routerLink="/jobs">Administrative,</a></li>
                                    <li><a routerLink="/jobs">Android,</a></li>
                                    <li><a routerLink="/jobs">Angular,</a></li>
                                    <li><a routerLink="/jobs">appASP.NET</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="banner-img">
                    <img src="img/home-one/banner/banner-main.jpg" alt="Shape">
                    <img src="img/home-one/banner/banner1.png" alt="Shape">
                    <img src="img/home-one/banner/banner3.png" alt="Shape">
                    <img src="img/home-one/banner/banner4.png" alt="Shape">
                    <img src="img/home-one/banner/banner5.png" alt="Shape">
                    <img src="img/home-one/banner/banner6.png" alt="Shape">
                    <img src="img/home-one/banner/banner7.png" alt="Shape">
                    <img src="img/home-one/banner/banner8.png" alt="Shape">
                    <img src="img/home-one/banner/banner9.png" alt="Shape">
                    <img src="img/home-one/banner/banner10.jpg" alt="Shape">
                    <img src="img/home-one/banner/banner11.png" alt="Shape">
                    <img src="img/home-one/banner/banner12.png" alt="Shape">
                    <img src="img/home-one/banner/banner13.png" alt="Shape">
                    <div class="inner">
                        <img src="img/home-one/banner/banner2.png" alt="Shape">
                        <p>Outsourcing all or part of your personnel management function can bring real</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>