<div class="feature-area pb-100">
    <div class="container-fluid">
        <div class="section-title text-center three">
            <div class="sub-title-wrap">
                <img src="img/home-three/title-img.png" alt="Icon">
                <span class="sub-title">Employers Offering Job</span>
            </div>
            <h2>Here's Features Job</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-3 col-xxl-2">
                <div class="feature-item">
                    <a routerLink="/job-details"><img src="img/home-three/feature1.png" alt="Feature"></a>
                    <div class="bottom">
                        <h3><a routerLink="/job-details">Accounting</a></h3>
                        <span>5 Jobs</span>
                        <i class="flaticon-verify"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-xxl-2">
                <div class="feature-item">
                    <a routerLink="/job-details"><img src="img/home-three/feature2.png" alt="Feature"></a>
                    <div class="bottom">
                        <h3><a routerLink="/job-details">Digital Marketing</a></h3>
                        <span>2 Jobs</span>
                        <i class="flaticon-verify"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-xxl-2">
                <div class="feature-item">
                    <a routerLink="/job-details"><img src="img/home-three/feature3.png" alt="Feature"></a>
                    <div class="bottom">
                        <h3><a routerLink="/job-details">Customer Service</a></h3>
                        <span>4 Jobs</span>
                        <i class="flaticon-verify"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-xxl-2">
                <div class="feature-item">
                    <a routerLink="/job-details"><img src="img/home-three/feature4.png" alt="Feature"></a>
                    <div class="bottom">
                        <h3><a routerLink="/job-details">Broadcasting</a></h3>
                        <span>1 Job</span>
                        <i class="flaticon-verify"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-xxl-2">
                <div class="feature-item">
                    <a routerLink="/job-details"><img src="img/home-three/feature5.png" alt="Feature"></a>

                    <div class="bottom">
                        <h3><a routerLink="/job-details">Sale Assistance</a></h3>
                        <span>5 Jobs</span>
                        <i class="flaticon-verify"></i>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 col-xxl-2">
                <div class="feature-item">
                    <a routerLink="/job-details"><img src="img/home-three/feature6.png" alt="Feature"></a>
                    <div class="bottom">
                        <h3><a routerLink="/job-details">Teachers</a></h3>
                        <span>2 Job</span>
                        <i class="flaticon-verify"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="job-browse">
            <p>Jobs are waiting for you <a routerLink="/jobs">Browse all jobs</a></p>
        </div>
    </div>
</div>