<div class="work-area two pb-70">
    <div class="container">
        <div class="section-title text-center two">
            <span class="sub-title">Working Process</span>
            <h2>See How It Works</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="work-item two">
                    <i class="flaticon-accounting"></i>
                    <h3>Register An Account</h3>
                    <p>Lorem ipsum dolor sit amet conscu adiing elitsed do eusmod tempor incidunt utinto elit sed doe</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="work-item two">
                    <i class="flaticon-file"></i>
                    <h3>Search Your Job</h3>
                    <p>Lorem ipsum dolor sit amet conscu adiing elitsed do eusmod tempor incidunt utinto elit sed doe</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="work-item two work-border">
                    <i class="flaticon-businessman-paper-of-the-application-for-a-job"></i>
                    <h3>Apply For Job</h3>
                    <p>Lorem ipsum dolor sit amet conscu adiing elitsed do eusmod tempor incidunt utinto elit sed doe</p>
                </div>
            </div>
        </div>
    </div>
</div>