<div class="feedback-area pt-100">
    <div class="feedback-shape">
        <img src="img/home-one/banner/shape-bottom.png" alt="Shape">
    </div>
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Feedbacks</span>
            <h2>What Users Are Saying</h2>
        </div>
        <div class="feedback-slider">
            <owl-carousel-o [options]="feedbackSlides">
                <ng-template carouselSlide>
                    <div class="feedback-item">
                        <h3>Jubra Ward</h3>
                        <span>CEO at Alfa School</span>
                        <p>“I’m ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniaxn ullamco laboris nisi ut at voluptatem.</p>
                        <h4><i class="flaticon-left-quote"></i> Just Awesome</h4>
                        <img src="img/home-one/feedback1.jpg" alt="Feedback">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="feedback-item">
                        <h3>Robin William</h3>
                        <span>Manager Support Act It</span>
                        <p>“I’m ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniaxn ullamco laboris nisi ut at voluptatem.</p>
                        <h4><i class="flaticon-left-quote"></i> Very Reliable</h4>
                        <img src="img/home-one/feedback2.jpg" alt="Feedback">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="feedback-item">
                        <h3>Tom Henry</h3>
                        <span>Director at Alfa School</span>
                        <p>“I’m ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniaxn ullamco laboris nisi ut at voluptatem.</p>
                        <h4><i class="flaticon-left-quote"></i> Looking Nice</h4>
                        <img src="img/home-one/feedback3.jpg" alt="Feedback">
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>