<div class="company-area two pb-100">
    <div class="container-fluid">
        <div class="section-title two">
            <span class="sub-title">Employers Offering Job</span>
            <h2>Company Offering Job</h2>
        </div>
        <div class="company-slider">
            <owl-carousel-o [options]="jobsSlides">
                <ng-template carouselSlide>
                    <div class="company-item two">
                        <div class="feature-top-right">
                            <span>Featured</span>
                        </div>
                        <div class="top">
                            <a routerLink="/employer-details"><img src="img/home-one/company1.png" alt="Brand"></a>
                            <h3><a routerLink="/employer-details">Pi Agency</a></h3>
                            <span>Part Time Job</span>
                            <p><i class="flaticon-appointment"></i> 10 min ago / Austria, Vienna</p>
                        </div>
                        <div class="bottom">
                            <ul>
                                <li>Pay Relocation Free</li>
                                <li>Remote Work</li>
                                <li>Duration: 5 Years</li>
                            </ul>
                            <span>Annual Salary</span>
                            <h4>50K</h4>
                            <a routerLink="/employer-details"><i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="company-item two">
                        <div class="feature-top-right">
                            <span>Featured</span>
                        </div>
                        <div class="top">
                            <a routerLink="/employer-details"><img src="img/home-one/company2.png" alt="Brand"></a>
                            <h3><a routerLink="/employer-details">Kn It</a></h3>
                            <span>Permanent Job</span>
                            <p><i class="flaticon-appointment"></i> 9 min ago / Tirana, Albania</p>
                        </div>
                        <div class="bottom">
                            <ul>
                                <li>Graphic Designer</li>
                                <li>Remote Work</li>
                                <li>Duration: 2 Years</li>
                            </ul>
                            <span>Annual Salary</span>
                            <h4>56K</h4>
                            <a routerLink="/employer-details"><i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="company-item two">
                        <div class="feature-top-right">
                            <span>Featured</span>
                        </div>
                        <div class="top">
                            <a routerLink="/employer-details"><img src="img/home-one/company3.png" alt="Brand"></a>
                            <h3><a routerLink="/employer-details">Orbit Inc.</a></h3>
                            <span>Part Time Job</span>
                            <p><i class="flaticon-appointment"></i> 8 min ago / Doha, Qatar</p>
                        </div>
                        <div class="bottom">
                            <ul>
                                <li>Product Manager</li>
                                <li>Remote Work</li>
                                <li>Duration: 5 Years</li>
                            </ul>
                            <span>Annual Salary</span>
                            <h4>70K</h4>
                            <a routerLink="/employer-details"><i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="company-item two">
                        <div class="feature-top-right">
                            <span>Featured</span>
                        </div>
                        <div class="top">
                            <a routerLink="/employer-details"><img src="img/home-one/company4.png" alt="Brand"></a>
                            <h3><a routerLink="/employer-details">Dev Roside</a></h3>
                            <span>Full Time Job</span>
                            <p><i class="flaticon-appointment"></i> 15 min ago / UK, England</p>
                        </div>
                        <div class="bottom">
                            <ul>
                                <li>Design & Developer</li>
                                <li>Remote Work</li>
                                <li>Duration: 2 Years</li>
                            </ul>
                            <span>Annual Salary</span>
                            <h4>89K</h4>
                            <a routerLink="/employer-details"><i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="company-item two">
                        <div class="feature-top-right">
                            <span>Featured</span>
                        </div>
                        <div class="top">
                            <a routerLink="/employer-details"><img src="img/home-one/company5.png" alt="Brand"></a>
                            <h3><a routerLink="/employer-details">Roshu.co</a></h3>
                            <span>Part Time Job</span>
                            <p><i class="flaticon-appointment"></i> 10 min ago / Cardiff, England</p>
                        </div>
                        <div class="bottom">
                            <ul>
                                <li>Internet Operator</li>
                                <li>Remote Work</li>
                                <li>Duration: 2 Years</li>
                            </ul>
                            <span>Annual Salary</span>
                            <h4>66K</h4>
                            <a routerLink="/employer-details"><i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="company-item two">
                        <div class="feature-top-right">
                            <span>Featured</span>
                        </div>
                        <div class="top">
                            <a routerLink="/employer-details"><img src="img/home-one/company6.png" alt="Brand"></a>
                            <h3><a routerLink="/employer-details">Omti. Med</a></h3>
                            <span>Part Time Job</span>
                            <p><i class="flaticon-appointment"></i> 40 min ago / Tokyo, Japan</p>
                        </div>
                        <div class="bottom">
                            <ul>
                                <li>Caring Officer</li>
                                <li>Remote Work</li>
                                <li>Duration: 2 Years</li>
                            </ul>
                            <span>Annual Salary</span>
                            <h4>50K</h4>
                            <a routerLink="/employer-details"><i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="company-item two">
                        <div class="feature-top-right">
                            <span>Featured</span>
                        </div>
                        <div class="top">
                            <a routerLink="/employer-details"><img src="img/home-one/company7.png" alt="Brand"></a>
                            <h3><a routerLink="/employer-details">Rahbar</a></h3>
                            <span>Full Time Job</span>
                            <p><i class="flaticon-appointment"></i> 7 min ago / Washington, US</p>
                        </div>
                        <div class="bottom">
                            <ul>
                                <li>Media Connector</li>
                                <li>Remote Work</li>
                                <li>Duration: 3 Years</li>
                            </ul>
                            <span>Annual Salary</span>
                            <h4>87K</h4>
                            <a routerLink="/employer-details"><i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="company-item two">
                        <div class="feature-top-right">
                            <span>Featured</span>
                        </div>
                        <div class="top">
                            <a routerLink="/employer-details"><img src="img/home-one/company8.png" alt="Brand"></a>
                            <h3><a routerLink="/employer-details">Doblin. Fo</a></h3>
                            <span>Part Time Job</span>
                            <p><i class="flaticon-appointment"></i> 12 min ago / California, US</p>
                        </div>
                        <div class="bottom">
                            <ul>
                                <li>Private Officer</li>
                                <li>Remote Work</li>
                                <li>Duration: 1 Year</li>
                            </ul>
                            <span>Annual Salary</span>
                            <h4>50K</h4>
                            <a routerLink="/employer-details"><i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>