<div class="banner-area two">
    <div class="banner-shape-two">
        <img src="img/home-two/banner-shape.png" alt="Shape">
        <img src="img/home-two/banner-bottom-shape.png" alt="Shape">
    </div>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="banner-content two">
                    <div class="d-table">
                        <div class="d-table-cell">
                            <p>We have 280,000+ live jobs</p>
                            <h1>Next Future Job Waiting For You Hold It!</h1>
                            <div class="banner-form-area">
                                <form>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label><i class='bx bx-search'></i></label>
                                                <input type="text" class="form-control" placeholder="Search Your Job">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <select>
                                                    <option>All Categories</option>
                                                    <option>Another option</option>
                                                    <option>A option</option>
                                                    <option>Potato</option>
                                                </select>	
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="form-group two">
                                                <label><i class='bx bx-location-plus'></i></label>
                                                <input type="text" class="form-control" placeholder="Location">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn">Search Job <i class='bx bx-search'></i></button>
                                </form>
                            </div>
                            <div class="banner-key">
                                <ul>
                                    <li><span>Trending Keywords</span></li>
                                    <li><a routerLink="/jobs">Account Manager,</a></li>
                                    <li><a routerLink="/jobs">Administrative,</a></li>
                                    <li><a routerLink="/jobs">Android,</a></li>
                                    <li><a routerLink="/jobs">Angular,</a></li>
                                    <li><a routerLink="/jobs">appASP.NET</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="banner-img-two">
                    <img src="img/home-two/banner-main.png" alt="Banner">
                    <img src="img/home-two/banner1.png" alt="Banner">
                    <img src="img/home-two/banner2.png" alt="Banner">
                    <img src="img/home-two/banner3.png" alt="Banner">
                </div>
            </div>
        </div>
    </div>
</div>