.rules-area {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;

    .rules-item {
        h3 {
            font-size: 20px;
            margin-bottom: 10px;
            color: var(--blue-color);
        }
        p {
            margin-bottom: 30px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}