<div class="partner-area bg-fafafa pb-70">
    <div class="container">
        <div class="partner-slider">
            <owl-carousel-o [options]="partnersSlides">
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <img src="img/home-one/partner1.png" alt="Partner">
                        <img src="img/home-one/partner1.png" alt="Partner">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <img src="img/home-one/partner2.png" alt="Partner">
                        <img src="img/home-one/partner2.png" alt="Partner">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <img src="img/home-one/partner3.png" alt="Partner">
                        <img src="img/home-one/partner3.png" alt="Partner">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <img src="img/home-one/partner4.png" alt="Partner">
                        <img src="img/home-one/partner4.png" alt="Partner">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <img src="img/home-one/partner5.png" alt="Partner">
                        <img src="img/home-one/partner5.png" alt="Partner">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <img src="img/home-one/partner1.png" alt="Partner">
                        <img src="img/home-one/partner1.png" alt="Partner">
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>