<div class="support-area pb-100">
    <div class="container">
        <p>Over <span>1500.000</span> supporter all over the world</p>
        <div class="support-slider">
            <owl-carousel-o [options]="partnersSlides">
                <ng-template carouselSlide>
                    <div class="support-item">
                        <img src="img/home-two/support1.png" alt="Support">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="support-item">
                        <img src="img/home-two/support2.png" alt="Support">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="support-item">
                        <img src="img/home-two/support3.png" alt="Support">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="support-item">
                        <img src="img/home-two/support4.png" alt="Support">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="support-item">
                        <img src="img/home-two/support5.png" alt="Support">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="support-item">
                        <img src="img/home-two/support6.png" alt="Support">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="support-item">
                        <img src="img/home-two/support1.png" alt="Support">
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>