<div
    class="testimonial-area pb-100"
    style="background-image: url(img/home-two/testimonial-bg.png);"
>
    <div class="container">
        <div class="section-title two">
            <span class="sub-title">Testimonials</span>
            <h2>What Our Customers Say About Us</h2>
        </div>
        <div class="testimonial-slider">
            <owl-carousel-o [options]="testimonialsSlides">
                <ng-template carouselSlide>
                    <div class="testimonial-item">
                        <img src="img/home-two/testimonial1.jpg" alt="Testimonial">
                        <p>Awesome dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud</p>
                        <h3>Devit M.Kolin</h3>
                        <span>CEO & Founder</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="testimonial-item">
                        <img src="img/home-two/testimonial2.jpg" alt="Testimonial">
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.</p>
                        <h3>Tom Henry</h3>
                        <span>Director</span>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>