<div class="widget-area">
    <div class="job widget-item">
        <h3>Search Result</h3>
        <form>
            <label><i class="flaticon-send"></i></label>
            <input type="text" class="form-control" placeholder="Email address">
            <button type="submit" class="btn">Submit</button>
        </form>
    </div> 
    <div class="cat widget-item">
        <h3>Categories</h3>
        <ul>
            <li><a routerLink="/blog" target="_blank">Design</a> <span>(1)</span></li>
            <li><a routerLink="/blog" target="_blank">Lifestyle </a><span>(4)</span></li>
            <li><a routerLink="/blog" target="_blank">Camping</a> <span>(3)</span></li>
            <li><a routerLink="/blog" target="_blank">Job</a> <span>(2)</span></li>
            <li><a routerLink="/blog" target="_blank">Device</a> <span>(6)</span></li>
            <li><a routerLink="/blog" target="_blank">Internet</a> <span>(8)</span></li>
        </ul>
    </div>
    <div class="recent widget-item">
        <h3>Recent Posts</h3>
        <div class="recent-inner">
            <ul>
                <li><img src="img/blog-details4.jpg" alt="Details"></li>
                <li>
                    <span>January 12, 2025</span>
                    <a routerLink="/blog-details">A Guide To Google SEO</a>
                    <p>Jhon hack from an iitial feaity study</p>
                </li>
            </ul>
        </div>
        <div class="recent-inner">
            <ul>
                <li><img src="img/blog-details5.jpg" alt="Details"></li>
                <li>
                    <span>June 30, 2025</span>
                    <a routerLink="/blog-details">15 SEO Best Jobs</a>
                    <p>Jhon hack from an iitial feaity study</p>
                </li>
            </ul>
        </div>
        <div class="recent-inner">
            <ul>
                <li><img src="img/blog-details6.jpg" alt="Details"></li>
                <li>
                    <span>Website Architecture</span>
                    <a routerLink="/blog-details">A Guide To Google SEO</a>
                    <p>Jhon hack from an iitial feaity study</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="tags widget-item">
        <h3>News Tags</h3>
        <ul>
            <li><a routerLink="/blog">#SEO</a></li>
            <li><a routerLink="/blog">#Internet</a></li>
            <li><a routerLink="/blog">#Web</a></li>
            <li><a routerLink="/blog">#SASS</a></li>
            <li><a routerLink="/blog">#IT & Support</a></li>
            <li><a routerLink="/blog">#Tips</a></li>
        </ul>
    </div>
</div>