<div class="candidate-area pb-100">
    <div class="container">
        <div class="section-title two">
            <span class="sub-title">Working Process</span>
            <h2>Our Candidates</h2>
        </div>
        <div class="candidate-slider">
            <owl-carousel-o [options]="candidatesSlides">
                <ng-template carouselSlide>
                    <div class="candidate-item">
                        <div class="left">
                            <h3><a routerLink="/candidate-details">Arielle Terry</a></h3>
                            <span>Web Developer</span>
                            <p>I’m IRanin dolor sit amet conscu adiing elitsed eusmod tempor</p>
                            <ul>
                                <li>Php</li>
                                <li>jQuery</li>
                                <li>WordPress</li>
                                <li>CSS3</li>
                                <li>HTML5</li>
                            </ul>
                            <div class="cmn-link">
                                <a routerLink="/single-resume"><i class="flaticon-right-arrow one"></i> View Resume <i class="flaticon-right-arrow two"></i></a>
                            </div>
                        </div>
                        <img src="img/home-two/candidate1.jpg" alt="Candidate">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="candidate-item">
                        <div class="left">
                            <h3><a routerLink="/candidate-details">Alexander Max</a></h3>
                            <span>Senior UX/UI Designer</span>
                            <p>I’m Max dolor sit amet conscu adiing elitsed eusmod tempor</p>
                            <ul>
                                <li>CSS</li>
                                <li>Creative</li>
                                <li>Photoshop</li>
                                <li>Illustrator</li>
                                <li>HTML5</li>
                            </ul>
                            <div class="cmn-link">
                                <a routerLink="/single-resume"><i class="flaticon-right-arrow one"></i> View Resume <i class="flaticon-right-arrow two"></i></a>
                            </div>
                        </div>
                        <img src="img/home-two/candidate2.jpg" alt="Candidate">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="candidate-item">
                        <div class="left">
                            <h3><a routerLink="/candidate-details">Tom Henry</a></h3>
                            <span>SEO</span>
                            <p>I’m Max dolor sit amet conscu adiing elitsed eusmod tempor</p>
                            <ul>
                                <li>CSS</li>
                                <li>Creative</li>
                                <li>Photoshop</li>
                                <li>Illustrator</li>
                                <li>HTML5</li>
                            </ul>
                            <div class="cmn-link">
                                <a routerLink="/single-resume"><i class="flaticon-right-arrow one"></i> View Resume <i class="flaticon-right-arrow two"></i></a>
                            </div>
                        </div>
                        <img src="img/home-two/candidate3.jpg" alt="Candidate">
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="candidate-browse">
            <p>Browse all talent <a routerLink="/candidates">Candidates</a></p>
        </div>
    </div>
</div>