@use '../../auth/login/login.component.scss' as *;



:host {
  display: block;
}

input, select {
  font-family: 'Segoe UI', system-ui, sans-serif;
  font-size: 1rem;
}

form {
  .ng-invalid.ng-touched {
    border-color: #f87171; // red-400
  }
}

button {
  font-weight: 600;
  letter-spacing: 0.5px;
}
