<div class="sidebar-container">
  <div class="profile-item">
    <img src="img/dashboard1.jpg" alt="Dashboard">
    <h2>Tom Henry</h2>
    <span>Web Developer</span>
  </div>
  
  <div class="nav-pills">
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
      <i class="bx bx-user"></i> My Profile
    </a>
    <a class="nav-link" routerLink="/applied-jobs" routerLinkActive="active">
      <i class="bx bxs-inbox"></i> Applied Jobs
    </a>
    <a class="nav-link" routerLink="/single-resume" routerLinkActive="active">
      <i class="bx bx-note"></i> My Resume
    </a>
    <a class="nav-link" routerLink="/login">
      <i class="bx bx-log-out"></i> Logout
    </a>
  </div>
</div>