<app-navbar />

<app-page-banner
    [pageTitle]="'About Us'"
    [backgroundImage]="'img/page-title-bg.jpg'"
/>

<!-- About Us -->
<div class="new-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="new-img">
                    <img src="img/about.jpg" alt="New">
                    <img src="img/about-shape.png" alt="New">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="section-title">
                        <span class="sub-title">Explore New Life</span>
                        <h2>We Are A Team Of Experts In This Field</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut tur incidunt laborequaerat voluptatem.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
                    <a class="cmn-btn" routerLink="/contact">Get Started<i class='bx bx-plus'></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<app-funfacts />

<app-company-possibilities />

<app-explore />

<app-team />

<app-footer />

<app-back-to-top />