<div class="location-area pb-70">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="location-item style-two">
                    <div class="top">
                        <a routerLink="/jobs"><img src="img/home-one/location1.jpg" alt="Location"></a>
                    </div>
                    <span>8 Open Job</span>
                    <h3><a routerLink="/jobs">New York</a></h3>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="location-item style-two">
                    <div class="top">
                        <a routerLink="/jobs"><img src="img/home-one/location2.jpg" alt="Location"></a>
                    </div>
                    <span>6 Open Job</span>
                    <h3><a routerLink="/jobs">Austria, Vienna</a></h3>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="location-item style-two">
                    <div class="top">
                        <a routerLink="/jobs"><img src="img/home-one/location3.jpg" alt="Location"></a>
                    </div>
                    <span>2 Open Job</span>
                    <h3><a routerLink="/jobs">Tirana, Albania</a></h3>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="location-item style-two">
                    <div class="top">
                        <a routerLink="/jobs"><img src="img/home-one/location4.jpg" alt="Location"></a>
                    </div>
                    <span>4 Open Job</span>
                    <h3><a routerLink="/jobs">Kabul, Afghanistan</a></h3>
                </div>
            </div>
        </div>
    </div>
</div>