<div class="contact-info-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4">
                <div class="info-item">
                    <i class='bx bx-world'></i>
                    <h3>San Francisco</h3>
                    <p>54 Hegmann Uninuo 890, New York, UK</p>
                    <ul>
                        <li><span>Mobile:</span> <a href="tel:+44457895789">(+44) - 45789 - 5789</a></li>
                        <li><span>Email:</span> <a href="mailto:info&#64;alzo.com">info&#64;alzo.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="info-item">
                    <i class='bx bx-world'></i>
                    <h3>Tokyo</h3>
                    <p>Sco 52, Sector 48, Tokyo, Japan (258458)</p>
                    <ul>
                        <li><span>Mobile:</span> <a href="tel:+23456783456">(+234) - 5678 - 3456</a></li>
                        <li><span>Email:</span> <a href="mailto:hello&#64;alzo.com">hello&#64;alzo.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="info-item">
                    <i class='bx bx-world'></i>
                    <h3>Geneva</h3>
                    <p>142 West Newton, Geneva 19088, Switzerland</p>
                    <ul>
                        <li><span>Mobile:</span> <a href="tel:+10009871234">(+1) 000 - 987 - 1234</a></li>
                        <li><span>Email:</span> <a href="mailto:example&#64;alzo.com">example&#64;alzo.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>