<div class="register-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 col-sm-4 col-lg-4">
                <div class="register-item">
                    <h3><span>6789990</span></h3>
                    <p>Registered Users</p>
                </div>
            </div>
            <div class="col-6 col-sm-4 col-lg-4">
                <div class="register-item">
                    <h3><span>8098234</span></h3>
                    <p>Global Employers</p>
                </div>
            </div>
            <div class="col-6 col-lg-4">
                <div class="register-item">
                    <h3><span>3678890</span></h3>
                    <p>Available Jobs</p>
                </div>
            </div>
        </div>
        <ul>
            <li><a href="#" target="_blank"><img src="img/home-one/app1.png" alt="App"></a></li>
            <li><a href="#" target="_blank"><img src="img/home-one/app2.png" alt="App"></a></li>
        </ul>
    </div>
</div>