.dropdown-container {
  display: flex;
  gap: 24px; // spacing between dropdowns
  flex-wrap: wrap;
}

.dropdown {
  position: relative;
  // min-width: 250px;
  // max-width: 300px;
}

.dropdown-header {
  // padding: 10px 14px;
  // border: 1px solid #ccc;
  // border-radius: 8px;
  // background-color: #fff;
  // cursor: pointer;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // font-weight: 500;

  height: 50px;
  border: 1px dashed var(--pink-color);
  padding-left: 15px;
  transition: var(--transition);
  font-size: 14px;
  display: block;
  width: 100%;
  line-height: 50px;
  margin-bottom: 30px;
}

.arrow {
   font-size: 18px;
    position: absolute;
    right: 15px;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 4px;
  z-index: 999;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-group {
  padding: 8px 12px;
  border-bottom: 1px solid #eee;

  &:last-child {
    border-bottom: none;
  }
}

.group-title {
  font-weight: bold;
  margin-bottom: 6px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  margin-bottom: 4px;

  label {
    margin-left: 6px;
    font-size: 14px;
  }
}
////global reset button 
.global-reset-container {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #eee;
  
  button {
    font-weight: 500;
    padding: 8px 12px;
  }
}