<div
    class="app-area ptb-100"
    style="background-image: url(img/home-one/app-bg.jpg);"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="app-content">
                    <div class="section-title">
                        <span class="sub-title">Download The App</span>
                        <h2>Get More In Our Application Sit Back And Enjoy</h2>
                    </div>
                    <ul>
                        <li><a href="#" target="_blank"><img src="img/home-one/app1.png" alt="App"></a></li>
                        <li><a href="#" target="_blank"><img src="img/home-one/app2.png" alt="App"></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="app-img">
                    <img src="img/home-one/app4.png" alt="App">
                    <img src="img/home-one/app3.png" alt="Shape">
                </div>
            </div>
        </div>
    </div>
</div>